{% extends 'userbase.html' %}
{% block content %}

<section class="container col-lg-8 col-md-10 col-sm-12 mx-auto">
    <div class="col-lg-8 col-sm-10 px-4 py-4 mx-auto align-items-center">

        <h1 class="fw-bold text-center">Change Password</h1>
        <p class="text-center pb-5">Please enter your current password for verification and reset new password.</p>

        <!-- Success Message -->
        {% if update_successful %}
        <div class="row justify-content-center mb-4">
            <div class="bg-success text-white border border-top-0 rounded-bottom text-center mb-4">
                <div class="p-2">Your password has been updated successfully! For your security, you need to log in again.</div>
            </div>
        </div>
        {% endif %}

        <form id="change_passwod_form" action="/profile/change_password" method="POST" >
            <input type="hidden" name="user_id" id="user_id" value="{{ user_id }}"> 
                    
            <div class="mb-3">
                <label for="current_password" class="form-label">Current Password*</label>
                <input type="password" class="form-control{% if current_password_error %} is-invalid{% endif %}" id="current_password" name="current_password" value="{{ current_password }}" placeholder="" aria-describedby="passwordHelp" required>
                <div class="invalid-feedback">{{ current_password_error }}</div>
            </div>

            <div class="mb-3">
                <label for="new_password" class="form-label">New Password*</label>
                <input type="password" class="form-control{% if new_password_error %} is-invalid{% endif %}" id="new_password" value="{{ new_password }}" name="new_password" placeholder="" aria-describedby="passwordHelp" required>
                <div id="lastnameHelp" class="form-text">Password must contain at least 8 characters, 1 uppercase letter, 1 number and 1 special character</div>
                <div class="invalid-feedback">{{ new_password_error }}</div>
            </div>

            <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirm Password*</label>
                <input type="password" class="form-control{% if confirm_password_error %} is-invalid{% endif %}" id="confirm_password" value="{{ confirm_password }}" name="confirm_password" placeholder="" aria-describedby="passwordHelp" required>
                <div id="lastnameHelp" class="form-text">Password must contain at least 8 characters, 1 uppercase letter, 1 number and 1 special character</div>
                <div class="invalid-feedback">{{ confirm_password_error }}</div>
            </div>
            
            <div class="text-center">
                <input type="submit" class="btn btn-primary btn-lg me-2" value="Change Password">
            </div>
        </form>
    </div>
</section>

{% if update_successful %}
<script>
	setTimeout(function() {
		window.location.href = "{{ url_for('logout') }}";
	}, 2500);
</script>
{% endif %}

{% endblock %}