{% extends 'userbase.html' %}
{% block content %}

<section class="container col-lg-10 col-md-10 col-sm-12 mx-auto">
    <h2 class="text-center align-middle fw-bold py-2">{{ 'All' if all_users else 'Admin/Edit' }}  User</h2>
    <p class="text-center align-middle py-4">Manage and view {{ 'all' if all_users else 'admin/edit' }} users. You can update user roles and change statuses as needed.</p>

    <form action="{{ url_for('search_all_users' if all_users else 'search_system_users') }}" method="GET">
        <div class="row justify-content-center py-4">
            <div class="col-lg-8 col-12 d-md-flex gap-3">
                <input type="text" name="searchterm" id="searchterm" class="form-control mb-3" placeholder="Search by">
                <select name="searchcat" id="searchcat" class="form-select mb-3">
                    <option value="username">Username</option>
                    <option value="full_name">Full Name</option>
                    <option value="first_name">First Name</option>
                    <option value="last_name">Last Name</option>
                    <option value="email">Email</option>
                </select>
                <input type="submit" class="btn btn-primary btn-lg col-md-2 col-12 mb-3" value="Search">
            </div>
        </div>
    </form>
    
    {% for users in userslist %}
        <input type="hidden" name="user_id" id="user_id" value="{{ users['user_id'] }}">
    {% endfor %}
    
    <!-- User Lists -->
    <div class="table-responsive py-4">
        <table class="table table-hover align-middle">
            <thead class="table-light align-middle">
                <tr>
                    <th class="col-1 p-3">Username</th>
                    <th class="col-2 p-3">First Name</th>
                    <th class="col-2 p-3">Last name</th>
                    <th class="col-3 p-3">Email</th>                    
                    <th class="col-1 p-3">Role</th>
                    <th class="col-1 p-3">Status</th>
                    <th class="col-2 p-3">View</th>
                </tr>
            </thead>

            {% for users in userslist %}
            <tbody>
                    <tr>
                        <td class="p-3">
                            {{users['username'] }}
                            {% if session.get('username') == users.username %} (You) {% endif %}
                        </td>
                        <td class="p-3">{{ users['first_name'] }}</td>
                        <td class="p-3">{{ users['last_name'] }}</td>
                        <td class="p-3">{{ users['email'] }}</td>
                        <td class="p-3">{{ users['role'] }}</td>
                        <td class="p-3">{{ users['status'] }}</td>
                        <td class="p-3">
                            {% if session.get('username') == users.username %}
                                <a href="{{ url_for('profile') }}" class="btn btn-primary btn-lg me-2">Manage User</a>
                            {% else %}
                                <a href="{{ url_for('edit_user') }}?user_id={{ users['user_id'] }}" class="btn btn-primary btn-lg me-2">Manage User</a>
                            {% endif %}
                        </td>
                    </tr>
            </tbody> 
            {% endfor %}   
        </table>
    </div>
</div>
{% endblock %}
